body{
    margin: 0rem;
    background-color: #2D2B55;
    position: relative;
}

li{
    list-style: none;
    color: white;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    margin-inline: 2.5rem;
}

h1, h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-align: center;
}

h3{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
}

a{
    text-decoration: none;
    color: white;
}

/* Nav Section */

.navbar-container{
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 6rem;
}

/* Main Section */

.main-content{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 6rem;
    margin-bottom: 10rem;
}

/* Footer Section */

.footer-container{
    background-color: #0D161B;
    height: 15rem;
}

.footer-list-container{
    margin-top: 3rem;
    margin-left: 3rem;
    position: absolute;
}

.footer-copyright{
    color: grey;
    margin-left: 3rem;
    margin-top: 8rem;
}

.footer-media-container{
    text-align: right;
    margin-right: 3rem;
}

.footer-media-style{
    width: auto;
    height: 4rem;
    margin-top: 3rem;
}