.about-main { /* nur About Seite */
    display: flex;
    justify-content: flex-start; /* Bild links */
    align-items: flex-start;
    gap: 3rem; /* Platz für späteren Text rechts */
    min-height: 60vh;
}

.profile-img-container{
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    width: 340px;
    max-width: 100%;
    margin-top: 20vh;
    margin-left: 4rem;
}

.profile-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.profile-text-style{
    color: white;
    background-color: white;
}

@media (max-width: 900px){
    .about-main { padding: 2.5rem; gap: 2.5rem; }
    .profile-img-container { width: 300px; }
}
@media (max-width: 600px){
    .about-main { padding: 2rem; gap: 2rem; }
    .profile-img-container { width: 240px; }
}
@media (max-width: 420px){
    .about-main { padding: 1.5rem; gap: 1.5rem; }
    .profile-img-container { width: 190px; }
}
