.about-main { /* nur About Seite */
    display: flex;
    justify-content: center; /* zentriert */
    align-items: center;
    gap: 3rem; /* Platz für späteren Text rechts */
    min-height: 60vh;
}

.profile-img-container{
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
    width: 340px;
    display: flex;
    /* margin-left: 15rem; */
}

.profile-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    /* display: block; */
}

.profile-text-container{
    display: flex;
    text-align: center;
    color: white;
}

.profile-text{
    font-size: 22.5px;
    line-height: 2;
}

.home-main-selection-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
    gap: 10rem;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    /* color: white; */
    list-style-type: none;
}

/* @media (max-width: 1500px){
    .about-main { padding: 2.5rem; gap: 2.5rem; }
    .profile-img-container { width: 400px; }
    .profile-text-container { margin-top: 35vh; max-width: 55%; white-space: nowrap;}
}
@media (max-width: 1200px){
    .about-main { padding: 2.5rem; gap: 2.5rem; }
    .profile-img-container { width: 400px; }
    .profile-text-container { margin-top: 35vh; max-width:55%; white-space: nowrap;}
}
@media (max-width: 720px){
    .about-main { padding: 1.5rem; gap: 1.5rem; }
    .profile-img-container { width: 230px; }
    .home-main-selection-section { flex-direction: column; align-items: center; }
    .profile-text-container { margin-top: 1rem; max-width: 100%; text-align: center; }
} */
