.particles-wrapper {
  position: absolute;
  inset: 0; /* top:0; right:0; bottom:0; left:0 */
  pointer-events: none; /* allow clicks through */
  z-index: 0; /* behind page content which will get higher z-index */
}

.particles-canvas {
  width: 100%;
  height: 100%;
}
